.vscode/**
.vscode-test/**
test/**
.github/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
images/**/*.gif
.gitmessage
eslint.config.js
