.vscode/**
.vscode-test/**
test/**
test-RunExtension/**
docs/**
.github/**
.git/**
.gitignore
AGENTS.md
.yarnrc
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
images/**/*.gif
.gitmessage
eslint.config.js
